<header class="min-h-full">
  <header class="bg-white shadow">
    <nav class="bg-gray-900">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex h-16">
          <div class="flex items-center content-between">
            <span class="text-white text-2xl font-bold">FastEditor.</span>
            <div>
              <div class="ml-10 flex items-baseline space-x-4">
                <!--    <a
                  routerLink=""
                  class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-yellow-400 duration-200"
                  aria-current="page"
                  >Home</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</header>
